* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: #F6F6F3;
    
}

button {
    &:hover {
        cursor: pointer;
    }
}

a,
p,
h1,
h2,
h3,
h4,
span,
input,
textarea {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

.animation{
    margin: auto;
    width: 100%;
    max-width: 1296px;
    height: 224px;
    background: linear-gradient(180deg, #295DC1 0%, #5367CF 100%);
    position: relative;
    overflow: hidden;


    @media (max-width: 768px) {
        height: 400px;
    }
}

.animation-two {
    margin: auto;
    width: 100%;
    max-width: 1296px;
    height: 398px;
    background: #716FD8;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        height: 512px;
    }
}

.animation-three {
    margin: auto;
    width: 100%;
    max-width: 1296px;
    height: 288px;
    background: linear-gradient(180deg, #295DC1 0%, #5367CF 100%);
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        height: 400px;
    }
}

.animation-elemnt-one{
    position: absolute;
    width: 310px;
    height: 310px;
    transform: translateX(-100%);

    transition-property: top, left;
    transition-duration: 12000ms;
    transition-delay: 0;
    transition-timing-function: linear;

    &.one{
        top: -70%;
        left: 15%;
    }

    &.two{
        left: 36%;
        top: -20%;
    }

    &.three{
        left: 42%;
        top: 20%;
    }

    &.four{
        left: 50.27%;
        top: 0%;

        @media (max-width: 768px) {
            left: 50.75%;
        }
    }

    &.five{
        left: 38%;
        top: 0;
    }

    &.six{
        left: 25%;
        top: -45%;
    }

}

.animation-elemnt-two{
        position: absolute;
        width: 310px;
        height: 310px;
        transform: translateX(100%);

        transition-property: top, right;
        transition-duration: 12000ms;
        transition-delay: 0;
        transition-timing-function: linear;

        &.one{
            right: 20%;
            top: 10%;
        }

        &.two{
            right: 35%;
            top: -30%;
        }

        &.three{
            right: 45%;
            top: -60%;
        }

        &.four{
            right: 50.27%;
            top: -19%;

            @media (max-width: 768px) {
                    right: 50.75%;
                }
        }

        &.five{
            right: 40%;
            top: -55%; 
        }

        &.six{
            right: 27%;
            top: -5%;
        }
}
